/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    
    //General

    output_dir = ""
    genome = ""

    //Input files

    readsfile = ""

    // generic options
    aligner           = 'star'
    skip_fastqc       = null
  
}

// Load other configs

includeConfig 'configs/genomes.config'
includeConfig 'configs/environmental.config'
