
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for running pipeline on AWS  
----------------------------------------------------------------------------------------
*/


process {
    executor = 'awsbatch'
    queue = 'small-ondemand' // specify your batch queue
    cpus = 4
    memory = '8 GB'
}

aws {
    region = 'us-east-1'   // specify your-region' e.g., us-west-2
    batch {
        jobQueue = 'your-job-queue-name'
        computeEnvironment = 'your-compute-environment-name'
    }
    maxErrorRetry = 3
}

docker {
    enabled = true
    registry = params.ecr_registry
}


tower {
  enabled = false
  accessToken = 'eyJ0aWQiOiA1Mjg1fS40ODZhMWEzMDIwMDE4ZGQwNTkwOTEyYjFhZjZjODBiNmIwYTM5NjA4'
  workspaceId = '71579576448900'
}

process {

   withName: 'FASTQC_WF' {
        container = "${params.ecr_registry}/quay.io/biocontainers/fastqc:0.11.9--0"
  }

  withName: 'STARSOLO_WF' {
        container = "${params.ecr_registry}/quay.io/biocontainers/star:2.7.10b--h9ee0642_0"
  }

  
}

plugins {
    id 'nf-quilt'
}

params {

//General

output_dir = 's3://GeneXOmics/results'

//Input files

readsfile = "quilt+s3://GeneXOmics/test_files/drugseq_readsfile.csv"


//STARsolo

whitelist = "s3://GeneXOmics/test_data/star/10x_V2_barcode_whitelist.txt"
starindex = "s3://GeneXOmics/test_data/star/STARindex"

quilt_package = 'your-username/your-dataset'   // Quilt package
quilt_version = 'latest'  // Version of the dataset (can also specify a specific version)
}




