
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for locally testing pipeline 
----------------------------------------------------------------------------------------
*/


docker.enabled = true

params {

//General

output_dir = "results"


//Input files

readsfile = "test_data/readsfile.csv"

//StarSolo
whitelist = "$projectDir/star/10x_V2_barcode_whitelist.txt"
starindex =  "$projectDir/test_data/star/STARindex"


}

includeConfig 'genomes.config'
