
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for running pipeline on AWS  
----------------------------------------------------------------------------------------
*/


docker {
    docker.enabled = true
  }  

params {

//General

output_dir = "results"

//Input files

readsfile = "tests/test_files/drugseq_readsfile.csv"

//STARsolo

whitelist = "$projectDir/test_data/star/10x_V2_barcode_whitelist.txt"
starindex ="$projectDir/test_data/star/STARindex"
runMode = "alignReads"
outSAMmapqUnique = "60"
runThreadN = "8"
outSAMunmapped = "Within"
soloStrand = "Forward"
quantMode = "GeneCounts"
outBAMsortingThreadN =  "8"
soloType = "CB_UMI_Simple"
soloUMIlen = "10"
soloUMIdedup = "NoDedup 1MM_All"
soloCellFilter = "None"
soloBarcodeReadLength = "0"
soloFeatures = "Gene"
outSAMattributes = "NH HI nM AS CR UR CB UB GX GN sS sQ sM"
outFilterMultimapNmax = "1"
readFilesCommand = "zcat"
outSAMtype = "BAM SortedByCoordinate"
outTmpDir = "/mnt/c/Users/star_temp"


}


